# Ignore everything
*

# But don't ignore .sh and .bash files at the root of the repo
!/*.sh
!/*.bash
!/scripts
!/scripts/*.sh
!/scripts/home.nix
!/configs
!/configs/*

# home-level config files
!/.psqlrc

# ignore work-specific profile and secrets
/.env.sh
/.profile-work.sh
